### Creating a DataFrame to store our results and visualize them

In [24]:
Scores = pd.DataFrame(columns=['Model','Train Score', 'Test Score'])

In [25]:
Scores['Model'] = ['Multinomial Naive Bayes with Count Vectorizer',
                   'Multinomial Naive Bayes with Tfid Vectorizer', 
                   'Random Forest with Count Vectorizer', 
                   'Random Forest with Tfid Vectorizer', 
                   'Extra Trees with Count Vectorizer', 
                   'Extra Trees with Tfid Vectorizer',
                   'Logistic Regression with Count Vectorizer',
                   'Logistic Regression with Tfid Vectorizer']

In [26]:
Scores['Train Score'] = [0.9415257020857284, 
                         0.9311299063885695, 
                         0.9944818525209393, 
                         0.9280916406634916, 
                         0.998127771391033, 
                         0.9984233864345541,
                         0.984455575628182,
                         0.9551650517326327]

In [27]:
Scores['Test Score'] = [0.9259496477311918, 
                        0.9179435384539587, 
                        0.9043701039562497, 
                        0.9170567078878652, 
                        0.8979405823520717, 
                        0.9058481548997389,
                        0.9389564960338966,
                        0.9389072276691136]

In [28]:
Scores

                                           Model  Train Score  Test Score
0  Multinomial Naive Bayes with Count Vectorizer     0.941526    0.925950
1   Multinomial Naive Bayes with Tfid Vectorizer     0.931130    0.917944
2            Random Forest with Count Vectorizer     0.994482    0.904370
3             Random Forest with Tfid Vectorizer     0.928092    0.917057
4              Extra Trees with Count Vectorizer     0.998128    0.897941
5               Extra Trees with Tfid Vectorizer     0.998423    0.905848
6      Logistic Regression with Count Vectorizer     0.984456    0.938956
7       Logistic Regression with Tfid Vectorizer     0.955165    0.938907

#### Saving it to use in tableau

In [29]:
Scores.to_csv('scores.csv', index=False)

### Importing our best parameters from Modeling for visualization

In [30]:
best_model_params = pd.read_csv('best_model.csv')

In [31]:
best_model_params

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_tfi__max_features,param_tfi__ngram_range,param_tfi__stop_words,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,17.641220,0.188140,6.397077,0.113547,150000,"(1, 1)",NaN,"{'tfi__max_features': 150000, 'tfi__ngram_rang...",0.934769,0.934621,0.934790,0.934727,0.000075,5
1,15.417512,0.073177,5.430322,0.046350,150000,"(1, 1)",english,"{'tfi__max_features': 150000, 'tfi__ngram_rang...",0.936321,0.935976,0.935184,0.935827,0.000476,3
2,57.398367,2.048192,16.537193,1.188001,150000,"(1, 2)",NaN,"{'tfi__max_features': 150000, 'tfi__ngram_rang...",0.933217,0.933783,0.932893,0.933298,0.000368,7
3,51.256521,0.384099,10.551059,0.029280,150000,"(1, 2)",english,"{'tfi__max_features': 150000, 'tfi__ngram_rang...",0.936321,0.936887,0.935480,0.936229,0.000578,1
4,19.374831,0.678782,7.084754,0.320061,200000,"(1, 1)",NaN,"{'tfi__max_features': 200000, 'tfi__ngram_rang...",0.934769,0.934621,0.934790,0.934727,0.000075,5
5,15.443129,0.886178,5.772086,0.070530,200000,"(1, 1)",english,"{'tfi__max_features': 200000, 'tfi__ngram_rang...",0.936321,0.935976,0.935184,0.935827,0.000476,3
6,48.270592,1.283795,9.383492,0.460272,200000,"(1, 2)",NaN,"{'tfi__max_features': 200000, 'tfi__ngram_rang...",0.932946,0.933611,0.932573,0.933043,0.000429,8
7,38.078443,1.654420,7.477172,1.293191,200000,"(1, 2)",english,"{'tfi__max_features': 200000, 'tfi__ngram_rang...",0.936222,0.936739,0.935184,0.936049,0.000647,2

#### Dropping everything we do not really need to visualize and ordering by rank

In [32]:
best_model_params.drop(columns=['mean_fit_time','std_fit_time','mean_score_time','std_score_time',
                               'params', 'split0_test_score','split1_test_score', 'split2_test_score',
                               'std_test_score']).sort_values('rank_test_score')

,param_tfi__max_features,param_tfi__ngram_range,param_tfi__stop_words,mean_test_score,rank_test_score
3,150000,"(1, 2)",english,0.936229,1
7,200000,"(1, 2)",english,0.936049,2
1,150000,"(1, 1)",english,0.935827,3
5,200000,"(1, 1)",english,0.935827,3
0,150000,"(1, 1)",NaN,0.934727,5
4,200000,"(1, 1)",NaN,0.934727,5
2,150000,"(1, 2)",NaN,0.933298,7
6,200000,"(1, 2)",NaN,0.933043,8